In [1]:
import pandas as pd

df = pd.read_csv(r'\Users\tpbra\Downloads\movie_ratings_messy.csv')

In [2]:
df.head()

  Movie Title   Genre  Release Year  User Rating  Reviewer ID Watched
0   Star Wars  Sci-Fi          1977            5         1001     Yes
1   star wars  Sci-Fi          1977            6         1001       Y
2   Inception  Sci-Fi          2010            4         1002      No
3   Inception  Sci-Fi          2010            3         1003       N
4  The Matrix  Action          1999            5         1004    TRUE

In [4]:
#checking for blanks
df.isnull().sum()

Movie Title     0
Genre           0
Release Year    0
User Rating     0
Reviewer ID     0
Watched         0
dtype: int64

In [5]:
#making the colummn names lower case and add an _ to the column name
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [6]:
#checking for lowercase and _
df.head()

  movie_title   genre  release_year  user_rating  reviewer_id watched
0   Star Wars  Sci-Fi          1977            5         1001     Yes
1   star wars  Sci-Fi          1977            6         1001       Y
2   Inception  Sci-Fi          2010            4         1002      No
3   Inception  Sci-Fi          2010            3         1003       N
4  The Matrix  Action          1999            5         1004    TRUE

In [7]:
# Making all the data in the df first letter capitolized
df['movie_title'] = df['movie_title'].str.title()

In [8]:
# Check to see, if the command worked
df.head()

  movie_title   genre  release_year  user_rating  reviewer_id watched
0   Star Wars  Sci-Fi          1977            5         1001     Yes
1   Star Wars  Sci-Fi          1977            6         1001       Y
2   Inception  Sci-Fi          2010            4         1002      No
3   Inception  Sci-Fi          2010            3         1003       N
4  The Matrix  Action          1999            5         1004    TRUE

In [9]:
# Creating a movie_id to chack for duplicates
df['movie_id'] = df['movie_title'] + '_' + df['reviewer_id'].astype(str)

In [10]:
# Checking for duplicates
duplicates = df[df.duplicated('movie_id', keep=False)]

print(f"Total reviews: {len(df)}")
print(f"Unique reviews: {df['movie_id'].nunique()}")
print(f"Duplicates found: {len(duplicates)}")

Total reviews: 10
Unique reviews: 8
Duplicates found: 4

In [11]:
# Show the duplicate game_id(s)
dupe_ids = df[df.duplicated('movie_id', keep=False)]['movie_id'].value_counts()
print(dupe_ids)

movie_id
Star Wars_1001       2
Pulp Fiction_1007    2
Name: count, dtype: int64

In [12]:
# View the rows with the duplicated movie_id
duplicate_movie_id = dupe_ids.index[0]  # assuming only one duplicate
df[df['movie_id'] == duplicate_movie_id]

,movie_title,genre,release_year,user_rating,reviewer_id,watched,movie_id
0,Star Wars,Sci-Fi,1977,5,1001,Yes,Star Wars_1001
1,Star Wars,Sci-Fi,1977,6,1001,Y,Star Wars_1001

In [14]:
# View the rows with the duplicated movie_id
duplicate_movie_id = df[df['movie_id'].duplicated(keep=False)]
# Show all rows with duplicate movie_ids
dupe_ids

movie_id
Star Wars_1001       2
Pulp Fiction_1007    2
Name: count, dtype: int64

In [16]:
# Find all duplicates of movie_id
dupe_rows = df[df['movie_id'].duplicated(keep=False)]

# Show duplicate rows with their index positions
dupe_rows.reset_index()

,index,movie_title,genre,release_year,user_rating,reviewer_id,watched,movie_id
0,0,Star Wars,Sci-Fi,1977,5,1001,Yes,Star Wars_1001
1,1,Star Wars,Sci-Fi,1977,6,1001,Y,Star Wars_1001
2,7,Pulp Fiction,Crime,1994,4,1007,No,Pulp Fiction_1007
3,8,Pulp Fiction,Crime,1994,4,1007,N,Pulp Fiction_1007

In [20]:
# I cleaned the duplicates from the data and I am reloading the data set again
import pandas as pd

df = pd.read_csv(r'\Users\tpbra\Downloads\movie_ratings_messy.csv')

In [21]:
df.head()

     Movie Title   Genre  Release Year  User Rating  Reviewer ID Watched
0      star wars  Sci-Fi          1977            6         1001       Y
1      Inception  Sci-Fi          2010            4         1002      No
2      Inception  Sci-Fi          2010            3         1003       N
3     The Matrix  Action          1999            5         1004    TRUE
4  The Godfather   Crime          1972            5         1005   FALSE

In [22]:
df.tail()

     Movie Title   Genre  Release Year  User Rating  Reviewer ID Watched
3     The Matrix  Action          1999            5         1004    TRUE
4  The Godfather   Crime          1972            5         1005   FALSE
5       Avengers  Action          2012            0         1006     Yes
6   Pulp Fiction   Crime          1994            4         1007      No
7         Avatar  Sci-Fi          2009            5         1008     yes

In [24]:
#making the colummn names lower case and add an _ to the column name
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [25]:
# Check to see, if the command worked
df.head()

     movie_title   genre  release_year  user_rating  reviewer_id watched
0      star wars  Sci-Fi          1977            6         1001       Y
1      Inception  Sci-Fi          2010            4         1002      No
2      Inception  Sci-Fi          2010            3         1003       N
3     The Matrix  Action          1999            5         1004    TRUE
4  The Godfather   Crime          1972            5         1005   FALSE

In [26]:
# Making all the data in the df first letter capitolized
df['movie_title'] = df['movie_title'].str.title()

In [27]:
# Check to see, if the command worked
df.head()

     movie_title   genre  release_year  user_rating  reviewer_id watched
0      Star Wars  Sci-Fi          1977            6         1001       Y
1      Inception  Sci-Fi          2010            4         1002      No
2      Inception  Sci-Fi          2010            3         1003       N
3     The Matrix  Action          1999            5         1004    TRUE
4  The Godfather   Crime          1972            5         1005   FALSE

In [28]:
# Recreating a movie_id to chack for duplicates
df['movie_id'] = df['movie_title'] + '_' + df['reviewer_id'].astype(str)

In [29]:
# Rechecking for duplicates
duplicates = df[df.duplicated('movie_id', keep=False)]

print(f"Total reviews: {len(df)}")
print(f"Unique reviews: {df['movie_id'].nunique()}")
print(f"Duplicates found: {len(duplicates)}")

Total reviews: 8
Unique reviews: 8
Duplicates found: 0

In [31]:
# Stripping leading spaces and standardizing capitolazion for the watched column
df['watched'] = df['watched'].str.strip().str.lower()

In [32]:
#  Checking the command for Stripping leading spaces and standardizing capitolazion for the watched column wirked
df.head()

,movie_title,genre,release_year,user_rating,reviewer_id,watched,movie_id
0,Star Wars,Sci-Fi,1977,6,1001,y,Star Wars_1001
1,Inception,Sci-Fi,2010,4,1002,no,Inception_1002
2,Inception,Sci-Fi,2010,3,1003,n,Inception_1003
3,The Matrix,Action,1999,5,1004,true,The Matrix_1004
4,The Godfather,Crime,1972,5,1005,false,The Godfather_1005

In [33]:
# Define a mapping dictionary
watched_map = {
    'y': 'Yes',
    'yes': 'Yes',
    'true': 'Yes',
    'n': 'No',
    'no': 'No',
    'false': 'No'
}

# Apply the map to standardize values
df['watched'] = df['watched'].map(watched_map)

In [34]:
# Checking command
df.head()

,movie_title,genre,release_year,user_rating,reviewer_id,watched,movie_id
0,Star Wars,Sci-Fi,1977,6,1001,Yes,Star Wars_1001
1,Inception,Sci-Fi,2010,4,1002,No,Inception_1002
2,Inception,Sci-Fi,2010,3,1003,No,Inception_1003
3,The Matrix,Action,1999,5,1004,Yes,The Matrix_1004
4,The Godfather,Crime,1972,5,1005,No,The Godfather_1005

In [35]:
# A second check, if 0 is return, the data is good, if not needs inspection
df['watched'].isnull().sum()

0

In [37]:
# setting the upper and lower limits on the user rating between 1 and 5
df['user_rating'] = df['user_rating'].clip(lower=1, upper=5)

In [40]:
#Verifying the clip worked.  An empty dataset = good
df[~df['user_rating'].between(1, 5)]

Empty DataFrame
Columns: [movie_title, genre, release_year, user_rating, reviewer_id, watched, movie_id]
Index: []

In [43]:
# Changing the year to an integer
df['release_year'] = df['release_year'].astype(int)

In [44]:
# Checking data types to confime
df.dtypes

movie_title     object
genre           object
release_year     int32
user_rating      int64
reviewer_id      int64
watched         object
movie_id        object
dtype: object

In [45]:
# Sending the clean data to my download folder
df.to_csv(r'C:\Users\tpbra\Downloads\movie_ratings_clean.csv', index=False)

In [1]:
import os
os.getcwd()

'C:\\Users\\tpbra'